<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <!--注册servlet-->
    <servlet>
        <servlet-name>FindNginx</servlet-name>
        <servlet-class>servlet.FindNginx</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindNginx</servlet-name>
        <url-pattern>/FindNginx</url-pattern>
    </servlet-mapping>
    <!--注册servlet-->
    <servlet>
        <servlet-name>FindMessages</servlet-name>
        <servlet-class>servlet.FindMessages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindMessages</servlet-name>
        <url-pattern>/FindMessages</url-pattern>
    </servlet-mapping>
    <!--注册servlet-->
    <servlet>
        <servlet-name>FindElasticsearch</servlet-name>
        <servlet-class>servlet.FindElasticsearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindElasticsearch</servlet-name>
        <url-pattern>/FindElasticsearch</url-pattern>
    </servlet-mapping>
    <!--注册servlet-->
    <servlet>
        <servlet-name>FindTables</servlet-name>
        <servlet-class>servlet.FindTables</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindTables</servlet-name>
        <url-pattern>/FindTables</url-pattern>
    </servlet-mapping>
    <!--注册servlet-->
    <servlet>
        <servlet-name>FindDataTables</servlet-name>
        <servlet-class>servlet.FindDataTables</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindDataTables</servlet-name>
        <url-pattern>/FindDataTables</url-pattern>
    </servlet-mapping>
    <!--注册servlet-->
    <servlet>
        <servlet-name>FindMaps</servlet-name>
        <servlet-class>servlet.FindMaps</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindMaps</servlet-name>
        <url-pattern>/FindMaps</url-pattern>
    </servlet-mapping>
    <!--注册servlet-->
    <servlet>
        <servlet-name>FindVectorMaps</servlet-name>
        <servlet-class>servlet.FindVectorMaps</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindVectorMaps</servlet-name>
        <url-pattern>/FindVectorMaps</url-pattern>
    </servlet-mapping>
</web-app>